body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(218, 226, 223);

}
.search_bar_container{
    display: flex;
    align-items: center;
    background-color: rgb(218, 226, 223);
    padding: 5px;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    box-shadow: 6px 6px 10px rgba(0,0,0,.2),-6px -6px 10px rgba(255,255,255,.3) ;
    margin: 10px;
    position: relative;
    transition: width 1.5s;
}
.magnifier{
    width: 25px;
    cursor: pointer;
    position: absolute;
    left: 20px;
}
.micicon{
    width: 30px; cursor: pointer;
    position: absolute;
    right: 25px;
    transition: width .4s;
    transition-delay: 1s;
}
.input{
    background-color: transparent;
    border: none;
    margin: 10px 50px;
    outline: none;
    columns: gray;
     transition: width 1s;
    transition-delay: .5s;
    width: 100%;
}


.active.search_bar_container{
    width: 50px;
}
.active .input{
    width: 0;
}
.active .micicon{
    width: 0;
}