*{
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(52, 24, 24);
    color: #333;
    margin: 0;
    padding: 0;
      display: flex;
         justify-content: center;
        align-items: center;
        height: 100vh;
       
    
}
.container{
        height: 300px;
        width: 400px;
        background:burlywood;
        padding:20px 40px;
        box-shadow: 0 4px ;
}
h1{
    margin-bottom:20px;
    color:gray;
}
.quote-box{
    margin:20px 0;
    padding: 20px;
    border-left: 4px solid #007bff;
    font-style: italic;
    border-radius: 5px;
}