/* universal selector select all element */
*{
    background-color: rgb(135, 211, 219);
}


/* select by elemen t */
h3{
    background-color: darkkhaki;
}
/* select by class in same class name*/
.four{
    background-color: linen;
}
/* select by id */
#three{
    background-color: lightblue ;
}
/* select by group selector */
h4,a{
    background-color: coral;
}
/* according to attribute change style */
h2[draggable="true"]{
    background-color: aqua;
}
/* select by decendent  */
section p{
    background-color: rgb(200, 231, 62);
}
/* select by child */
section > p{
    font-size: 20px;
    color: rgb(66, 9, 128);
}
