/* h1{
    background-color: pink;
    color: green;
   
    text are align in proper formate text is left to right full widht occupy
    text-align: justify;
    
} */
/* h2{
 center left right
    text-align: center;
}
block element in container only apply only text content occupy whole space 
but inline element not  ocupuy
.container{
    background-color: blue;
    text-align: center;
}
h3{
  background-color: antiquewhite;
}
p{
    background-color: rgb(63, 57, 48);
}
button is inline then its go center
button{
    text-align: center;
} */
 /* text align last line is set last line element set rigth let center justify
p{
    background-color: greenyellow;
    text-align-last: center;
} */
 /* rtl means right to left many language  read as right to left then this rtl use to right side and bi direction use to reverse 
   <!-- jakap olleh -->
 h1{
    direction: rtl;
    unicode-bidi: bidi-override;
 } */
  /* vertical align  sub lower the baseline super is uper the baseline ,baseline is normal */
  /* span{
    vertical-align:baseline;
  } */
   /* underline overline line-throught(cut sentence),both overline and  underline */
 /* double dotted dased all are availabe
   h1{
    text-decoration:overline underline;
    text-decoration-color: red;
   
    text-decoration-style:double ;
    text-decoration-thickness: 5px;
}    */
    /* text transform capitalize lowercase upercase
    h1{
        text-transform: capitalize;
    } */
    /* text start with give some space */
    p{
        /* text-indent: 200px;
        letter-spacing: 3px;
        line-height: 25px;
        word-spacing: 20px; 
        white-space:pre-line;*/
        text-shadow: 3px;

    }