.container {
    height: 800px;
    width: 800px;
    background-color: rgb(236, 236, 212);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* first and last child colaps ho jate to padding add parent to work margin */
.class {
    height: 200px;
    width: 200px;
    background-color: aqua;
    margin: 10px;
    border-radius: 50%;

    /* transition-property: background-color; */
    /* you apply all element */
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 2s;
}
.class:hover{
    background-color: black;
    width: 500px;
    height: 500px;
    
}

/* box-shadow: -5px 10px; horizontal vertical*/
/* box-shadow: 2px 5px blue; color*/
/* box-shadow: 2px 5px 5px blue; blur is added */
/* box-shadow: 2px 5px 5px 20px  blue; spread shadow  */
/* box-shadow: 0px 0px 5px 10px brown;  all side same size color      */
/* box-shadow: inset 100px 100px red; */
/* box-shadow is horizontal and vertical shadow h offset and v offset its also negative 
box-shadow :horizontal vertical blur color */
.axis{
    font-size: 20px;
    text-shadow:
  1px 1px 2px red,
  0 0 1em blue,
  0 0 0.2em blue;
    /* text-shadow: 5px 10px; */
    /* text-shadow: red 2px 5px; */
    /* text-shadow: 5px 5px #558abb; */
    /* text-shadow: #ffcc00 1px 0 10px; */
    /* text-shadow: 2px 4px 2px  rgb(74, 59, 132); */
}