*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100%;
    background-color: black;
    padding: 4rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4,1fr);
}
.box{
    background-color: yellow;
    border: 2px solid black;
    
}