*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100%;
    padding: 2rem;
    background-color: rgb(178, 178, 234);
    display: grid;
    /* grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(3,1fr); */
    /* grid-template-rows: repeat(2,2fr); */
    gap: 1rem;
    /* grid-template-areas: 
    "box1 box2 box2 box3"
    "box1 box4 box5 box6 "
    "box1 box7 box8 box6"; */

}
.box3{
    background-color: yellow;
    /* grid-area: box3; */
   
}
.box4{
    background-color: pink;
    /* grid-area: box4; */
}
.box5{
    background-color: violet;
    /* grid-area: box5; */
}
.box6{
    background-color: cadetblue;
        /* grid-area: box6; */
}
.box7{
    background-color: gray;
    /* grid-area: box7; */
}

/* you create as name of area */

/* create resposibve using media query */
@media(min-width:500px){
    .container{
        grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    }
    .box{

    border: 2px solid black;
}

/* .box{
    height: 100px;
    width: 100px;

} */
.box1{
    background-color: blue;
    /* grid-area: box1; */
    grid-row: 1/4;
}
.box2{
    background-color: black;
    /* grid-area: box2; */
    grid-column: 2/4;
}

.box8{
  /* grid-area: box8; */
    background-color: rgb(137, 129, 85);
    grid-row: 2/4;
    grid-column: 4/5;
}
}