/* order same me jab change kare to jo last me change hoga vahi hoga */
h1{
    background-color: antiquewhite;
    color: aqua;
}
h1{
    background-color: blue;
}
/* element tag */
h2{
    background-color: rgb(20, 27, 27);
}
/* class tag  third proority*/
.first_class{
    background-color: rgb(59, 69, 69);
}
/* id tag use first priority */
#first_id{
    background-color: blueviolet;
}
/* attribute selector use second priority */
h2[draggable="true"]{
    background-color: brown;
}
/* descendent selector are use child and decendent same last me jo aye*/
body h1{
    background-color: black;
}
/* child selector */
body>h1{
    background-color: chocolate;
}
/* inline css>  internal=external jo last me ayega  */
h3{
    background-color: rgb(41, 12, 188) !important;
}
/* inheritence inherit property ol to li */
ol{
    background-color: darksalmon;
}