h1{
   /* % of  viewport width  */
    font-size: 10vw;
    /* font thikness boldness 100-900*/
    font-weight: 600;
    font-style:italic;
    /*normal  small caps */
    font-variant:small-caps;
    
}
h2{
    font-stretch: initial ;
}
h3{
    /* % of viewport height */
    font-size: 10vh;

}
p{
    /* height or all rows  */
    line-height: 30px;
    /* space betwen each alphabet */
    letter-spacing: 2px;
    /* space between each word */
    word-spacing: 20px;
    
}
span{
    /* character change uper and lower case */
    text-transform: uppercase;
   
}