body{
    padding: 0;
    margin: 0;
     background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.conatiner{
   background-color: rgb(77, 106, 96);
   color: white;
   padding: 10px;
   border-radius: 10px;
}
.Currency_container{
    padding: 10px;
    display: flex;
    justify-content: space-between
}
.Currency_container select{
    padding: 10px
}
.Currency_container input{
    border: none;
    background-color: transparent;
    font-size: 25px;
    text-align: right;
    color: aliceblue;
}

h1,p{
    text-align: center;
}
.exchange_rate{
    font-size: 16px;
    font-weight: 600;
}
select:focus,input:focus{
    outline: 0;
}