body{
    margin: 0;
    padding: 0;
    background-color:rgb(103, 90, 184) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:'Courier New';
}
h1{
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.Year{
    font-size: 3rem;
    color: white;
    font-weight: 600;
}
.countdown{
    background-color: rgba(255, 255, 255, .3);
    width: 100%;
   margin: 30px;
   font-size: 20px;
   font-weight: bold;
   color: white;
   display: flex;
   height: 200px;
   justify-content: center;
   align-items: center;
}
.countdown div{
    margin: 0px 15px;
    font-size: 2.5rem;
    position: relative;
    text-align: center;
    width: 100px;
    /* margin-top: -25px; */
}
.countdown div::before{
    content: " ";
    position: absolute;
   bottom: -30px;
   left: 0;
   font-size: .37em;
   line-height: 35px;
   text-transform: uppercase;
   letter-spacing: 1px;
   width: 100%;
   height: 35px;
   

}

.countdown #day::before{
    content : "days";
}
.countdown #hour::before{
    content : "hour";
}
.countdown #minute::before{
    content : "minute";
}
.countdown #second::before{
    content : "second";
}