*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
}
.container{
  height: 100%;
  width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
        gap: 2rem;

}
.box ,.box2{
       background-color: yellow; 
       font-size: 20px;
    height: 200px;
    width: 200px;
     display: flex;
    justify-content: center;
    align-items: center;
    transition: all;
    transition-duration: 3s;
    transition-timing-function: linear;
}
.box:hover{
    /* transform: translate(400px,300px); */
    /* transform: scale(2,3); */
    /* transform: rotate(45deg); */
    /* transform: skew(-60deg) */
    /* transform: translate(200px,300px) rotate(45deg) skew(50deg) scale(2); */
   transform: rotate(90deg);
    transform-origin: bottom right;

}
.box2:hover{
    transform: rotate(90deg);
}
/* single tratlate x axis */
/* double value in translate x axis and y axis */
/* x axis positive right else left  */
/* y axis positive bottom else top */
/* scale single value it will sxale by x increase size in x and y axis */
/*  scale 2 values x and y it woll increase width by x times  and height by y times*/
/*  roate the box positive value clockwise else anticlockwiose*/