
body{
   padding: 0;
   margin: 0;
    height: 100vh;
    background-color: rgb(31, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#root{
    text-align: center;
    padding: 20px;
    background-color: wheat;

}
input{
    font-size: 20px;
    padding: 4px;
    margin-left: 4px;
    margin-bottom: 10px;
}
button{
    font-size: 20px;
    margin-bottom: 10px;
}