.card{
    background-color: aqua;
    border: 4px solid green;
    padding: 10px;
    margin: 10px;
    width: 30vw;
    height: 20vw;
    margin:20px 20px 20px 35vw;
    box-shadow: 2px 2px 10px red ;
    /* this overflow property use to contain box element in box not overflow in outside */
    overflow:hidden;
}

h2{
    color: rgb(138, 174, 102);
    text-align: center;

}
h3{
    text-align: center;
}
.card:hover{
    box-shadow: 4px 4px 15px red;
}
h3:hover{
    background-color: black;
    color: rgb(245, 148, 29);
}
p{
    text-align: center;
}
body{
    background-color: antiquewhite;
}