* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;

}

.container {
    padding: 4rem;
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    height: 100px;
    width: 100px;
    background-color: orange;
    border-radius: 50%;
       display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    animation-name: circle;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction:normal;
    animation-iteration-count: infinite;
}
@keyframes circle{
    from{
        transform: rotate(0deg) translate(300px);
    }
    to{
        transform: rotate(360deg)  translate(300px);
    }
}