* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;

}
.circle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: -50px;
    border: 2px dashed white;
}

.container {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}

.orbit {
    height: 100px;
    width: 100px;
    position: relative;
    background-color: green;
 
   
}

.Sun {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.Mars {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: orange;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    animation-name: mars;
    animation-duration: 3s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes mars {
    from {
        transform: rotate(0deg) translate(150px );
    }

    to {
        transform: rotate(360deg) translate(150px);
    }
}
.Earth {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    animation-name: earth;
    animation-duration: 3s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes earth {
    from {
        transform: rotate(0deg) translate(250px);
    }

    to {
        transform: rotate(360deg) translate(250px);
    }
}
.jupiter {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    animation-name: jupiter;
    animation-duration: 3s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes jupiter {
    from {
        transform: rotate(0deg) translate(350px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translate(350px) rotate(-360deg);
    }
}