* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;

}

.container {
    padding: 4rem;
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    
}

.box {
    height: 200px;
    width: 200px;
    background-color: yellow;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: movment;
    animation-duration: 3s;
    animation-timing-function: linear;
    /* animation-delay: 3s; */
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
    border-radius: 50%; 
    animation-fill-mode: backwards;

}

@keyframes movme{
    from {
        /* top: 0px;
        left: 0px; */
        /* transform: translate(0vw,0nh); */
        transform: translatey(0vh);
    }

    to {
        /* top: 0px;
        left: 800px; */
        /* transform: translate(80vw,30vh); */
        transform: translateY(30vh);
    }
}
@keyframes movment{
    0%{
        transform: translate(0vw,0vh);
    }
    25%{
        transform: translate(30vw,-30vh);
    }
    50%{
        transform: translate(60vw,0vh);
    }
    75%{
        transform: translate(30vw,30vh);
    }
    100%{
        transform: translate(0vw,0vh);
    }
}