body{
    margin: 0;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    height: 250px;
    width: 350px;
    background-color: rgb(47, 185, 139);
    display: flex;
    flex-direction: column;
    /* margin: 20px; */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0,.5) ,-4px -4px 10px rgba(255, 255, 255, .5);
}
h1{
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
    color: white;
}
.location{
    height: 30px;
   border: none;
   font-size: 20px;
}
#get-weather{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(10, 60, 80);
    color: white;
}
.get-weather-info{
    text-align: center;
    padding: 10px;
    font-size: 25px;
    color: white
}