body{
    margin: 0;
    /* padding: 0; */
}
.container{
     display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:url(https://images.unsplash.com/photo-1547394765-185e1e68f34e?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    text-align: center;
}
h1{
    font-size: 60px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    text-shadow: 4px 4px 10px rgba(255,255,255,.7);
}
.btn{
  padding: 10px 20px;
   width: 300px;
   background-color: rgb(228, 228, 142);
}
.btn:hover{
   filter: brightness(0.7);
}
.active.container{
    filter: blur(5px) brightness(.7);
}
.Popup_container{
    position: fixed;
    left: 50%;
    right: 50%;
    top: 30%;
    transform: translate(-50%);
    background-color: white;
    /* color: white; */
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: url(https://media.istockphoto.com/id/585488832/photo/typing-on-laptop-closeup-chatting-in-facebook.webp?s=612x612&w=is&k=20&c=BB8PT_imbBVwciJ4ZBM6hgC0DQtwfRzoTu6Tg1nrWks=);
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    opacity: 1;
    transition: all .7s;
}
h4{
    font-size: 30px;
    color:rgb(23, 23, 229);
    font-family: sans-serif;
    margin: 10px;
}
label{
    color:rgb(23, 23, 229); 
    font-family: sans-serif;
}
.popup-btn{
    padding: 15px;
    margin: 10px;
    border:2px solid;
    background-color: rgb(204, 206, 174);
}
input{
    padding: 10px;
    border-radius: 2px solid;
    margin: 10px 0;
    font-size: 20px;
    text-align: center;
}
.input::placeholder{
    color: lightgray;

}
.close_icon{
    position: absolute;
    right: 20px;
    cursor: pointer;
    font-size: 25px;
}
.close_icon:hover{
    color: rgb(99, 89, 89);

}
.active.Popup_container{
    visibility: hidden;
    opacity: 0;
    top: 10%;
}