/* we can change help to dispaly property block element to inlie and inline to block */
/* block element change there all property  */
.first{
    /* display:inline; */
    background-color: violet;
    height: 200px;
    width: 100px;
    margin: 20px;
}
    .second{
    background-color: gold;
    height: 300px;
    width: 300px;
    margin: 40px;
}
/* inline element not chane there height width */
/* vertical margin is not apply in inline element */
span{
    /* display:block; */
    display: inline-block;
    /* element behave inline but set height and width  */
    background-color: darkgreen;
    height: 200px;
    width: 300px;
    margin: 20px;
   

}