*{
    margin: 0;
}
div{
    background-color: blue;
    
    
}
.first{
   height: 40vh;
   width: 20vw;
   margin-left:25% ;
}
.second{
    margin-top: 20%;
    height: 40vh;
   width: 20vw;
   margin-left:25% ;
}
.third{
    display: inline-block;
    /* position: relative;
    bottom: 469px; */
    height: 20vh;
    width: 25vw;

}
.four{
    display: inline-block;
  
    
     /* position: relative;
    bottom: 620px; */

    height: 20vh;
    width: 80vw;
    margin-left: 25%;
}