.container{
    background-color: aquamarine;
    height: 700px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    justify-content: center;
    align-items: baseline;
    align-items: center;
    
    flex-wrap: wrap;
    /* wrap wrap-reverse no wrap */
    /* witout give height: box strech of oerall container; */
    /* align item work in cross axes */
    /* justify content start end center  work in main axes*/
    /* justify-content: space space-between space-around space-evenly */
} 
.classs{
    font-size: 30px;
}
.class{
    font-size: 20px;
}


 /* display flex default main acces me hota hai */
    /*flex direction determine our main main acces*/
    /* row:horizontal is main direction  */
    /* column :verticalis our main direction */
    /* flex-direction: column-reverse and row-reverse */
    /* justify content work on main acces */
.box{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    margin: 5px ;
}
.box1{
    background-color: red;
}
.box2{
    background-color: blue;
}
.box3{
    background-color: yellow;
}
.box4{
    background-color: brown;
}