.container{
    background-color: aqua;
     margin-top: 300px;
    margin-left: 500px;
    height: 1000px;
    /* position: relative; */
    /* parent position are not there then absolute work on basis of view port */
}
.box{
    height: 100px;
    width: 100px;
    display: inline-block;
   
    
    
}
/* static positon me kuch bhi chane nahi hota hai by default static hoat  hota hai */
.first{
    background-color: red;
}
.second{
    background-color: pink;
    position: relative;
    top: 10px;
}
/* relative means respect to origin position relative not keep the origin space only move*/
/* position have four property top bottom left right */
.third{
    background-color: green;
       /* position: absolute;
       top: 10px; */
       position: fixed;
       top: 10px;


}
/* position fixed is work on only viewport view not affect parent its do not cahnge there postion
it is also relief our position  */
/* absolute parent ke according position change karta hai agar parent me koi position give nahi hai to viewport according karta hai */
/* absolute apni jagah ko chod deta hai or dusra us jagah pe aa jata hai */

.fourth{
    background-color: rgb(20, 211, 132);
    position: sticky;
    left: 60px;
    top: 60px;

}
/* sticky apne parent ke container me hi fix hote hai */
.newcontainer{
    height: 800px;
   background-color: rgb(208, 11, 11);
}