body{
    background-image: url(./ales-nesetril-Im7lZjxeLhg-unsplash.jpg );
    background-size: cover;
    /* background-repeat: no-repeat; */
    color: white;
}
h3{
    background-color: burlywood;
}