/* change normal color name */
h1{
    color: blueviolet;
}
/* change by rgb 0-255 take 8 bit 24px */

h3{
    color: rgb(23, 180, 233);
}
/* change by rgba a means alpha(0-1) transperent  */
span{
    color: rgba(30, 56, 5, 1);
}
/* change by ASCHI value also ass #a1264534 last two charater is called alpha */
ol{
    color: #f3b558;
}
/* change by hsl{hue(0-360),saturation(%),lightness(%)}
   we can add alpha for transperency*/
p{
    color: hsl(281, 91%, 26%);
}

