h1{
    color: chartreuse;
    /* font how to view character  */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* pixel determine always depend on size of screen */
    font-size: 60px;
}
h3{
    /* relative to parent font size rem size 16px */
    /* rem relative to html font size */
    font-size: 2rem;
}
p{
    /*  relative to parent font size rem size 16px */
    font-size: 200%;
}