body{
    margin:0;
    font-family: sans-serif;
}
.bg-image{
    width: 100%;
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1770567351994-dd4a743ab1e6?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-attachment: fixed;
    background-size: 160%;
}
.container{
    padding: 100px;
}
@media (max-width:500px){
    .container{
        padding: 10px;
    }
}
h1{
    font-size: 50px;
}