.img{
    width: auto;
    height:300px;
    float: right;
   /* clear: left; */
    margin-right: 10px;
    
}
/* float left right to over content adjust in limited space */
.img2{
    width: auto;
    height: 300px;
    float: right;
    /* clear right if already img float in right side then img is show down of this img  */
    /* clear: right; */
    clear: right;
    margin-right: 10px;}
    /* clear:both set agar left or right  me koi float kar raha hai to next line me le jao */
/* float ka pehle use karte the abhi flex box grid media */