.box
{
    display: inline-block;
    height: 150px;
    width: 150px;

}
.container{
    background-color: aqua;
    margin-top: 100px;
    margin-left: 100px;
}
.box1{
    background-color: blue;
    position: relative;
    left: 200px;
    z-index: 6;
}
.box2{
    background-color: red;
    position: relative;
    left: 20px;
    top: 20px;
    z-index: 3;
}
/* default z-index for all is auto */
.box3{
    background-color: black;
    position: relative;
    z-index: 4;
}
.box4{
    background-color: yellow;
}
