*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
        height: 100%;
        width: 100%;
        background-color: rgb(176, 7, 7);
        padding: 20px;
        display: grid;
        /* grid-template-columns: 200px 200px ; */
        /* fraction create its divide same size */
        grid-template-columns: 1fr 1fr 1fr;
        /* grid-template-rows: 200px 200px 200px; */
        /* grid-template-rows: 1fr 1fr 1fr; */
        /* all side se gap*/
        gap: 1rem; 
        /* only row and column gap */
        /* row-gap: 2rem;*/
} 
.box{
    font-size: 2rem;
    background-color: yellow;

    border: 4px  solid black ;
}
.header ,.footer{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: 1/4;
}
/* .footer{
    grid-column-start: 1;
    grid-column-end: 4;
} */
 .sidebar{
    /* grid-row-start: 2;
    grid-row-end: 4; */
    grid-row: 2/4;
 }
 .content{
    grid-column: 2/4;
 }