*{
    margin:  0;
}
/* .navbar{
    display: inline-block
} */
/* header{
    background-color: rgb(241, 234, 210);
    position: fixed;
    width: 100%;

} */
/* main{
    padding: 200px;
   
} */


/* .locationrestro,.searchbar,.button,.heading{
    display: inline-block;
    cursor: pointer;
    margin-top: 20px;
 
    
} */
/* .button{
    position: relative;
    float: right;
    top: 10px;
    
    
} */
 .head{
    background-color: white;
 }
.first{
    margin-left: 300px;
}
.dining{
    margin-left: 200px;

}
.second{
    padding-bottom: 10px;
    position: sticky;
    top: 0;
}
.dine{
    position: relative;
    bottom: 60px;
    color: gray;
    right: 10px;
}
.deliver,.night{
    position: relative;
    bottom: 30px;
    color: gray;
}
.nightlifeimg,.deliverimg{
    height: 50px;
    position: relative;
    
}
.third{
    background-color: gray;
    height: 600px;
}
button{
    height: 30px;
    width: 70px;
    font-size: 15px;
    margin-right: 15px;
    border: none;
    color: rgb(128, 128, 128);
}
.brand{
    color: rgb(185, 16, 16);
    margin-right: 50px;
    font-weight: bold;
    font-size: 20px;
}
.searching{
    height: 30px;
    width: 400px;
    margin: 50px;
}

.login{
    margin-right: 20px;
}
/* .dining,.delivery,.nightlife {
    display: inline-block;
    margin: 40px;
    border: 2px solid rgb(243, 245, 241);
} */
/* a:hover{
    color: orangered;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
} */

body{
    background-color: rgba(253, 243, 243);
}
.dineingimg{
    height: 80px;


  
}
.imgagedin{
    position: relative;
    bottom: 20px;
}
.off{
    background-color: rgba(200, 20, 29, 0.6);
    color: white;
    position: absolute;
    font-size: 30px;
    bottom: 10px;
    
}
.image{
    position: relative;
    
}
.card{
    height: 350px;
    width: 300px;
    border: 2px solid rgba(253, 243, 243);
    border-radius: 10px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
   
}
/* first se relative on parent to set box on different position and then absolute work  */
.card:hover{
    transition: 1s ease ;
    box-shadow: 2px 2px 10px black;
    background-color: white;
    border-color: white;
}
/* float are also use to shift right side of the elemrnt  */
.restaurantname,.foodname,.area{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
.box{
    display: inline-block;
}
img{
    height: 250px;
    width: 100%;
    border-radius: 10px;
}
/* .foodname{
     position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
} */
/* .area{
     position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
} */
.name{
   
    font-size: 20px;
    font-weight: 600;
}
.typename,.location,.price{
    font-size: 15px;
    color: rgb(120, 119, 114);
}

.rating{
    position: absolute;
    right: 0px;
    background-color: green ;
    color: white;
    
    
}
.price{
   position: absolute;
    right: 0px;
}
.distance{
   position: absolute;
    right: 0px;
}